body {
    background-color: #bde0fe;
}

.main {
    margin: 17vh 30vw;
    font-weight: 500;
}

.lable_main {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-bottom: 4px;
}

fieldset {
    border-radius: 30px;
    padding: 20px 30px;
    font-size: 21px;
    background-color: #a2d2ff;
    border: 0;
}

.forCheck {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.newLable {
    padding: 5px 0;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 22px 0 0;
}

.btn input{
    border: 0;
    background-color: #79beff;
    margin: 0 20px;
    padding: 7px 10px;
    border-radius: 12px;
    font-size: large;
}

.area input{
    width: 100%;
}